.nav{
    background-color: black;
    color: aliceblue;
    left: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;

}
body{
    
    margin-bottom: 1000px;
}

.gridcontainer{
    display: grid;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px ; 
    gap: 0.1em;
    grid-template-areas:
    "box-1 box-2 box-2 box-3"
    "box-1 box-4 box-5 box-5"
    "box-1 box-6 box-6 box-6";
    margin-top: 50px;
    margin-bottom: 50px;
    
}
 .box1{
    background: url(../Potpics/p2.jpeg);
    
    object-fit: cover;
   padding: 100px;
    border-radius: 20px;
    padding: 20px;
    
}

.box{
background-color: rgb(143, 10, 103);
border-radius: 20px;
padding: 20px;
 
}


.grid-container{
    
    display: grid;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px ; 
    gap: 0.1em;
    grid-template-areas:
    "box-1 box-2 box-2 box-2"
    "box-1 box-3 box-4 box-6"
    "box-5 box-5 box-5 box-6";
    
}
