.gridcontainer{
    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 1em;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    "box-1 box-2 box-2 box-3"
    "box-1 box-4 box-5 box-5";

}
.item{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    padding: 2em;
    height: 100px;
    width: 100px;
}