body{
    background-image: url(../Potpics/bluewav.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

}

.intro{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
color: rgb(255, 0, 255);


}
.intro ul{
list-style: none;
display: flex;
gap: 40rem;
}
.intro ul:hover{
color: rgba(0, 255, 234, 0.877);
}



.styler{
    display: flex;
    flex-direction: row;
    gap: 2em;
   
}

.style{
background-color:rgba(0, 153, 255, 0.5);
width: 55vw;
clip-path: inset(0px 0px 0px 0px round 0px 200px);
margin-left: 30rem;
box-shadow: 20px 20px;

}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 600px;
    margin-left: 40px;
   

}
.containa .h{
    font-size: larger;
    color: rgb(255, 255, 255);
}
.containa .p{
    font-size: 20px;
    font-weight: 10px;
}
.containb{
 clip-path: inset(0px 0px 0px 0px round 0px 100px) ;
 margin-right: 30px;

}
.button{
    margin-top: 80px;
    display: flex;
    gap: 60px;
      

} 
.container button:hover{
background-color: rgb(107, 3, 148);
color: rgb(255, 255, 255);
transition: transform 300ms ;
transform: scale(1.1);
box-shadow: 0 15px 80px 10px rgb(0, 89, 255);
}
.button .one{
width: 80px;
height: 40px;
background-color: rgb(255, 0, 179);
clip-path: inset(0px 0px 0px 0px round 0px 25px);
color: rgb(0, 89, 255);
font-size: medium;
}
.button .two{
background-color: rgb(255, 0, 179);
clip-path: inset(0px 0px 0px 0px round 25px 0px);
color: rgb(0, 89, 255);
font-size: medium;
}


.handles{
    margin-left: 10px;
    margin-top: 100px;
    color: rgb(254, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
     
    
    
}
.fa-square-instagram{
color: rgb(218, 12, 132);
background-color: rgb(245, 123, 9);
font-size: 20px;
clip-path: inset(0px 0px 0px 0px round 10px 2px);
transition: transform 300ms ;
}
 .fa-square-instagram:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 25px 0 rgb(160, 14, 14);
}
.fa-linkedin{
   color:  rgb(45, 111, 255);
    background-color: rgb(253, 254, 255);
    font-size: 20px;
clip-path: inset(0px 0px 0px 0px round 10px 2px);
transition: transform 300ms ;
}
.fa-linkedin:hover{
    transform: scale(1.1);
}       
.fa-tiktok{
    background-color: black;
    font-size: 20px;
    clip-path: inset(0px 0px 0px 0px round 10px 2px);
   transition: transform 300ms ;
}
.fa-tiktok:hover{
    transform: scale(1.1);
}       
.fa-x-twitter{
font-size: 20px;
    background-color: rgb(0, 0, 0);
    clip-path: inset(0px 0px 0px 0px round 10px 2px);
    transition: transform 300ms ;
}
  
.fa-x-twitter:hover{
    transform: scale(1.1);
}       
.about{
    background-color:rgba(0, 153, 255, 0.5);
    color: aliceblue;
    width: 25vw;
    height: 300px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 30px;
    margin-right: 50px;
    clip-path: inset(0px 0px 0px 0px round 50px 0px);
}

.nav{
    display:inline-block;
    background-color:rgba(0, 153, 255, 0.5);
    color: rgb(255, 255, 255);
    list-style: none;
    padding-left: 30px;
    width: 23vw;
    height: 25vw;
    margin-top: 10px;
    clip-path: inset(0px 0px 0px 0px round 50px 0px);
    box-shadow: 20px 20px;
}
.me{
color: rgb(228, 2, 228);
font-size: larger;
display: flex;
align-items: center;
justify-content: center;


}
.done{
    font-size: x-small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    list-style: none;
    margin-top: 30px;

}
.fa-plus{
font-size: 20px;
color:  rgb(168, 4, 233);

}
.fa-percent{
    font-size: 20px;
    color:  rgb(168, 4, 233);

}
.pic img{
    width: 60px;
    height: 60px;
    background-color: black;
    margin-top: 10px;
    clip-path: circle(25px at 50%);
    
}
.picc{
margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;

}
.name{
    font-size: x-small;
}
 @media(max-width:700px){
    body{
        display: block;
    }
    /* .styler{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .style{
        width: 80vw;
        margin-left: 0px;
    }
    .containb{
        margin-right: 0px;
    }
    .about{
        width: 80vw;
        margin-right: 0px;
    }
    .nav{
        width: 80vw;
    } */
 }